<div class="container">



    <div class="ad">
        <img src="../../assets/images/ad-post.png">
    </div>
    <div class="main">
      <div class="heading">
     
        <h2>My Account</h2>
  
    
  
      </div>
  
  
  <div class="profile">
    <div>
      <label>Full Name :</label> <p>Aravind Daya</p>
    </div>
    <div>
      <label>Mail :</label> <p>aravinddaya@gmail.com
        </p>
    </div>
    <div>
     <label> Mobile Number :</label>  <p>8778787877
      </p>
    </div>
  
    <div>
      <label>Role :</label>   <p>Chat/Stream</p>
    </div>
  
  </div>
  
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="ad">
        <img src="../../assets/images/ad-post.png">

    </div>
  
  
    </div>
  