<header-with-profile></header-with-profile>
<div class="container">



    <div class="sidebar">
        <seller-admin-sidebar></seller-admin-sidebar>
    </div>
    <div class="main">
 
        <nav>
            <p class="navbar-links"  (click)="back(0)">Property details</p>
            <p class="navbar-links" (click)="back(1)">Location Details</p>
            <p class="navbar-links nav-active" (click)="back(2)">Price Details</p>
            <p class="navbar-links" (click)="back(3)">Amenities</p>
            <p class="navbar-links" (click)="back(4)">Gallery</p>
            <p class="navbar-links"(click)="back(5)">Additional Details </p>
        </nav>
        



<div class="Location-details">
    <h2>Price Details</h2>


<form [formGroup]="priceform" (ngSubmit)="rentsub()">

    <div class="form">
    <div class="expected-rent">
        <label>Expected Price :</label>
   <div >
    <input type="number" placeholder="Expected Price" formControlName="MonthlyRentFrom">
    
   </div>
    </div>
    <div class="negotiable">
        <input type="checkbox" formControlName="ExpectedpricetNegotiable"  [value]="true"><label>Negotiable</label>
    
    
        <input type="checkbox" formControlName="CurrentlyInLoan" [value]="true" ><label>Currently In Loan</label>
    </div>
    <p class="redtext" *ngIf="priceform.get('MonthlyRentFrom').errors?.required&& submitted">Expected Price is required!</p>
 
  

 
    <div>
        <label>Maintenance : </label>
   
      <div class="dropdown select-field"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
    <p >{{mv}}</p>
      
        <ul class="dropdown-menu select-filed-options" >

          <li><a class="dropdown-item" (click)="maintance('Include Maintenance')" >Include Maintenance</a></li>
          <li><a class="dropdown-item" (click)="maintance('Exclude Maintenance')">Exclude Maintenance</a></li>
        </ul>
      </div>
    </div>
   
    <div *ngIf="maintanceVal=='Exclude Maintenance'">
        <label>Exclude Maintenance :</label>
     <div style="width: 50%; display: flex;
     align-items: flex-end;">
        <input type="text" style="width: 55%;" placeholder="Enter Amount" formControlName="ExcludeMaintenance">
        <!-- <select   formControlName="MrSq">
 
            <option value="Per Sq.ft/Month" >Per Sq.ft/Month</option>
            <option value="Per Month"  > Per Month</option>
        </select>  -->
        <div class="dropdown select-field" style="width: 45%;font-size: 12px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
           <p *ngIf="mainmon == null &&  !data.squareFT">select</p> <p [innerHTML]="mainmon" *ngIf="mainmon" ></p> <p [innerText]="data.squareFT" *ngIf="data.squareFT && !mainmon"></p>
              
                <ul class="dropdown-menu select-filed-options" >
        
                  <li><a class="dropdown-item" (click)="mainmonv('Per Sq.ft/Month')" >Per Sq.ft/Month</a></li>
                  <li><a class="dropdown-item" (click)="mainmonv('Per Month')">Per Month</a></li>
                </ul>
              </div>
    </div>
    </div>

    <div></div>

<div class="save-continue">
    <button type="submit" (click)="rentsub()" *ngIf="!data.final" >Save & Continue</button>
</div>
<div class="save-continue">
   <button type="button" (click)="routetopreview()" *ngIf="data.final" >Save</button>
</div>


</div>
</form>


</div>


    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="ad"></div>
    
    
    </div>