.footer{
    background-color: rgba(57, 72, 103, 1);
    height: 482px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.footer-container{
    display: flex;
    flex-direction: column;
 
    height: 90%;
    width: 85%;
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}
.content-1{
    width: 20%;
    margin-left: 75px;
}
.content-2{
    width:25%;
}
.content-3{
    width:50%;
}
h4{
    color: white;
    text-decoration: underline;
}
.margin-top p{
    margin-top: 15px;
    color: white;
}
.content-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-top: 34px;
}
.content-4 a{
    text-decoration: none;
    color: white;
}
.popup{
    z-index: 10000000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color:rgb(0 0 0 / 44%);;
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-container{
    display: flex;
    justify-content: center;
   
    height: 80%;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.form{
    width: 80%;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 25px;
}
.title button{
    background-color: transparent;
    border: none;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}
.content div{
    display: flex;
}
.content div label{
    width: 30%;
    font-weight: 600;
}
.content div input,textarea{
    width: 70%;
    border-bottom-color: var(--bgblue);
    border-bottom-width: 3px;
}
.show{
display: flex;
}
.err{
    color: red;
    font-size: 10;
    text-align: center;
}