<header-with-profile></header-with-profile>

<div class="container">
  <div class="sidebar">
    <img src="../../../../assets/images/ad-post.png" alt="" srcset="" />
  </div>
  <div class="main">
    <nav>
      <ul>
        <li>Residential ></li>
        <li>sale</li>
      </ul>
    </nav>

    <div class="top-section">
      <div class="back" style="cursor: pointer !important">
        <svg
          (click)="back()"
          width="15"
          height="25"
          viewBox="0 0 20 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.27179 16.1559L20 28.0722L16.3641 31.4762L0 16.1559L16.3641 0.835693L20 4.23965L7.27179 16.1559Z"
            fill="#473B32"
            fill-opacity="0.6"
          />
        </svg>
        <p>
          {{ data.BHKType }} House For {{ data.Type }} in,
          {{ data.formatedAddress }}
        </p>
      </div>
      <div class="page-navigator">
        <svg
          *ngIf="!checkForview"
          style="cursor: pointer"
          (click)="edit()"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.8288 2.90909L14.2683 1.46868C14.5684 1.16859 14.9754 1 15.3998 1C15.8242 1 16.2312 1.16859 16.5313 1.46868C16.8314 1.76878 17 2.17579 17 2.60019C17 3.02459 16.8314 3.4316 16.5313 3.7317L7.46989 12.7931C7.01876 13.244 6.46243 13.5754 5.85114 13.7574L3.55997 14.44L4.24262 12.1489C4.42462 11.5376 4.75601 10.9812 5.20688 10.5301L12.8288 2.90909ZM12.8288 2.90909L15.0798 5.16016M13.7998 11.0267V15.08C13.7998 15.5892 13.5975 16.0776 13.2375 16.4377C12.8774 16.7977 12.3891 17 11.8799 17H2.91997C2.41077 17 1.92241 16.7977 1.56235 16.4377C1.20228 16.0776 1 15.5892 1 15.08V6.12014C1 5.61093 1.20228 5.12258 1.56235 4.76252C1.92241 4.40245 2.41077 4.20017 2.91997 4.20017H6.97325"
            stroke="#394867"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    >

    <div class="detail-container">
      <div class="image row">
        <div class="col">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                *ngIf="imageLength >= 1"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                *ngIf="imageLength >= 2"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                *ngIf="imageLength >= 3"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>

              <button
                type="button"
                *ngIf="imageLength >= 4"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
              <button
                type="button"
                *ngIf="imageLength >= 5"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="5"
                aria-label="Slide 6"
              ></button>
            </div>
            <div class="carousel-inner">
              <div
                class="carousel-item active"
                style="
                  background-image: url('../../../assets//images//Frame 2072.png');
                "
              >
                <video
                  controls="false"
                  autoplay
                  [src]="data.videos"
                  width="100%"
                ></video>
              </div>

              <div
                class="carousel-item"
                style="
                  background-image: url('../../../assets//images//Frame 2072.png');
                "
                *ngFor="let img of data.image; let i = index"
              >
                <img
                [src]="img"
                  style="width: -webkit-fill-available !important"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="table">
          <div class="table-content">
            <p>Property Type</p>
            <h6>{{ data.propertType }}</h6>
          </div>
          <div class="table-content">
            <p>BHK Type</p>
            <h6>{{ data.BHKType }}</h6>
          </div>
          <div class="table-content lease">
            <p>Price</p>
            <h6>{{ data.MonthlyRentFrom | indianCurrencyS }}</h6>
            <p *ngIf="data.RentNegociable" class="negotiable">Negotiable</p>
            <p *ngIf="data.current_in_loan">(Current in loan)</p>
          </div>

          <div class="table-content">
            <p>Built Up Area</p>
            <h6>{{ data.BuildedSize }}.sqFt</h6>
          </div>
          <div class="table-content">
            <p>Floor</p>
            <h6>{{ data.noOfFloor }}/{{ data.floorNo }}</h6>
          </div>
        </div>
      </div>

      <div class="stream-container" *ngIf="false">
        <div class="stream-content">
          <div class="content-1">
            <div class="sub-content-1"><p>stream name</p></div>
            <div class="sub-content-2">
              <p>22-02-2023,8.00 am</p>
              <p>Tamil& english</p>
            </div>
          </div>
          <div class="content-2"><button>Register</button></div>
        </div>
        <div class="stream-content">
          <p>
            fsdfsdffffffffffffffffffffffffffffffffffffffffffffffjhjhjhjhjhdf
            ffffffffffffffjhjhjhjhjhdddddddddddddddddddddddjhjhjhjhjh
            dfglkadogjnlsdfkgnhkadjhglkjdshfngkjdhkfgjnhdkjfgnhadkjngjkdmgnlkdfjglkdjgdgjlpdjgldg
            dfoikgdlkg'lodjg'df dfgkidlkfgmndflkgjlklkjlkjoijlkn
          </p>
        </div>
      </div>
      <div class="form-detail">
        <div>
          <label>Contact name:</label>
          <p>{{ data.contactName }}</p>
        </div>
        <div>
          <label>Primary Number:</label>
          <p>{{ data.primaryContactNumber }}</p>
        </div>
        <div>
          <label>Secondary Number:</label>
          <p>{{ data.secondaryContactNumber }}</p>
        </div>

        <div>
          <label>Address :</label>
          <p>{{ data.formatedAddress }}</p>
        </div>

        <div>
          <label>Building name :</label>
          <p>{{ data.BuildingName }}</p>
        </div>

        <div>
          <label>Direction :</label>
          <p
            [innerText]="
              data.buildingDirection ? data.buildingDirection : 'Nill'
            "
          ></p>
        </div>

        <div>
          <label>Landmark :</label>
          <p>{{ data.landMark }}</p>
        </div>

        <div>
          <label>Area :</label>
          <p>{{ data.area }}</p>
        </div>

        <div>
          <label>City :</label>
          <p>{{ data.city }}</p>
        </div>

        <div>
          <label>Pincode :</label>
          <p>{{ data.pineCode }}</p>
        </div>

        <div>
          <label>Available from :</label>
          <p>{{ data.availabilityDate }}</p>
        </div>

        <div>
          <label>Age of property :</label>
          <p>{{ data.ageOfBuilding }}</p>
        </div>

        <div>
          <label>Maintenance :</label>
          <p>{{ data.MaintenanceStatus }},</p>
          <p
            *ngIf="
              data.maintainenceCost &&
              data.MaintenanceStatus == 'Exclude Maintenance'
            "
          >
            {{ data.maintainenceCost }}
          </p>
          <p
            *ngIf="
              data.squareFT && data.MaintenanceStatus == 'Exclude Maintenance'
            "
          >
            /{{ data.squareFT }}
          </p>
        </div>

        <div>
          <label>Facing direction :</label>
          <p
            [innerHTML]="data.facingDirection ? data.facingDirection : 'Nill'"
          ></p>
        </div>

        <div>
          <label>Build up Area :</label>
          <p>{{ data.BuildedSize }}.sqft</p>
        </div>
        <div>
          <label>USD/Landsize :</label>
          <p>{{ data.landSize }}.sqft</p>
        </div>
        <div>
          <label>Description :</label>
          <p [innerHTML]="data.discription ? data.discription : 'Nill'"></p>
        </div>

        <h5>Amenities :</h5>

        <div>
          <label>Power Backup :</label>
          <p>{{ data.powerBackup }}</p>
        </div>
        <div>
          <label>Furnishing Status :</label>
          <p>{{ data.furnishingStatus }}</p>
        </div>

        <div>
          <label>Water supply :</label>
          <p>{{ data.waterSupply }}</p>
        </div>

        <div>
          <label>Bathroom :</label>
          <p>{{ data.bathRoomCount }}</p>
        </div>
        <div>
          <label>Bathroom Type :</label>
          <p>{{ data.bathRoomType }}</p>
        </div>

        <div>
          <label>Toilet Type :</label>
          <p>{{ data.toiletType }}</p>
        </div>

        <div>
          <label>Balconies :</label>
          <p>{{ data.balconyCount }}</p>
        </div>
        <div>
          <label>Gated Security :</label>
          <p>{{ data.gate_Security }}</p>
        </div>
        <div>
          <label>Kitchen :</label>
          <p>{{ data.kitchenType }}</p>
        </div>

        <div>
          <label>Parking :</label>
          <p>{{ data.parkingFacilities }}</p>
        </div>

        <div>
          <label>Flooring Type :</label>
          <ul class="floor">
            <li>
              Kitchen-
              <p [innerHTML]="data.kitchen ? data.kitchen : 'Nill'"></p>
            </li>
            <li>
              Hall Floor-
              <p [innerHTML]="data.hall_FLoor ? data.hall_FLoor : 'Nill'"></p>
            </li>
            <li>
              Bedroom-
              <p [innerHTML]="data.bedRoom ? data.bedRoom : 'Nill'"></p>
            </li>
            <li>
              Bathroom-
              <p [innerHTML]="data.bathRoom ? data.bathRoom : 'Nill'"></p>
            </li>
            <li>
              Balcony-
              <p [innerHTML]="data.balCony ? data.balCony : 'Nill'"></p>
            </li>
          </ul>
        </div>

        <div *ngIf="data.Amenities !== ['']">
          <label>Amenities :</label>
          <div>
            <span *ngFor="let amt of data.Amenities"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="1"
                  y="1"
                  width="18"
                  height="18"
                  rx="1"
                  fill="#473B32"
                  stroke="#473B32"
                  stroke-width="2"
                />
                <path
                  d="M7.66667 10.5833L9.41667 12.3333L12.3333 8.25M17 10C17 10.9193 16.8189 11.8295 16.4672 12.6788C16.1154 13.5281 15.5998 14.2997 14.9497 14.9497C14.2997 15.5998 13.5281 16.1154 12.6788 16.4672C11.8295 16.8189 10.9193 17 10 17C9.08075 17 8.17049 16.8189 7.32122 16.4672C6.47194 16.1154 5.70026 15.5998 5.05025 14.9497C4.40024 14.2997 3.88463 13.5281 3.53284 12.6788C3.18106 11.8295 3 10.9193 3 10C3 8.14348 3.7375 6.36301 5.05025 5.05025C6.36301 3.7375 8.14348 3 10 3C11.8565 3 13.637 3.7375 14.9497 5.05025C16.2625 6.36301 17 8.14348 17 10Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <p>{{ amt }}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <img src="../../../../assets/images/ad-post.png" alt="" srcset="" />
  </div>
</div>
<seller-footer></seller-footer>
