<div class="container">



    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    <div class="main">
 
<div class="top-ad">

<img src="../../assets/images/top-container-ad.png" width="100%">
</div>

<h1 style="font-weight: 700;">Enrolled Mobile Number

<!-- For Post your Property Login--

    Log In to post your property -->
</h1>


<div class="form">
    <div>
        <label style="width:500px">Registered Mobile Number :</label>
        <input type="email" placeholder="Enter Your Registered Mobile Number :">
    </div>
 

    <div class="login-btn">
<button>Send OTP</button>
    </div>
</div>
    

    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    
    
    </div>