.container{
    display: flex;
}
.sidebar{
    width: 15%;
    background-color:var(--sandal);
    margin: 10px;

}
.main{
    width: 70%;
    background-color:var(--sandal);

    margin: 10px 0px;

}
.main h2{
    width: 70%;
    margin: auto;
    margin-top: 30px;
  
    color: #473B32;
    font-family: var(--raleway);
    font-weight: 700;
}
.ad{
    width: 15%;
   background-image: url(../../assets/images/ad-post.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 717px;
    margin: 10px;
}
.sidebar-content-list{
    background: none;
    color: black;
    padding: 10px;
}
.sidebar-content-list span{
    display: flex;
    align-items: center;
}
.sidebar-content-list svg{
    margin-right: 10px;
}

.active {
    background-color: var(--brown);
    color: white;
}
.top-ad{
    height: fit-content;
}
.main h1{
    text-align: center;
    color: var(--brown);
    font-family: var(--ralewaybold);
    margin: 20px 0;
}
.form{
    width: 70%;
    margin:50px auto;
   
    
}
.form div{
width: 100%;
display: flex;
margin: 20px 0;
align-items: flex-start;
justify-content: space-between;
}
.expected-rent{
    align-items: flex-start !important;
}

label{
    width: 25% !important;
    margin-top: 10px;
}
.negotiable label{
    margin-top: 0 !important;
}
.expected-rent div{
    width: 50% !important;
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    align-items: flex-start !important;
}
.negotiable{
    display: flex;
    padding-top: 5px !important;
    font-size: 14px;
    padding-left: 5px;
    align-items: center !important;
    justify-content: unset !important;
    flex-direction: row !important;
}
.negotiable input{
    width: fit-content !important;
    margin-right: 10px;
}
.form  select,input{
    padding: 10px;
    width: 50%;
    background: none;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
    position:relative ;
}
.maintenance-select{
    width: 50% !important;
}

.login-btn button{
    border: none;
    padding: 15px 70px;
    background-color: var(--brown);
    color: white;
    margin-left: 30%;
    cursor: pointer;
}
  nav{
    display: flex;
    justify-content: space-between;
    color: var(--sandal);
    background-color: var(--brown);
  }
  nav p{
  width: 100%;
  padding: 10px;
  text-align: center;
  border-right: solid var(--sandal) 1px;
  }
.nav-active{
    background-color: var(--sandal);
    color: var(--brown);
}
.save-continue{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}
.save-continue button{
    width: fit-content;
    padding: 15px 50px;
    background-color: var(--brown);
    color: white;
    border: none;
}
.address{
    display: flex;
    align-items: flex-start !important;
}

.rent-lease{
    display: flex;
    width: fit-content;
    margin:auto;
    margin-top: 50px !important;
}
.rent-lease p{
    padding: 10px 80px;

    cursor: pointer;
}
.rent-lease-active{
    background-color:var(--lightbrown) !important;
    color: white;
}
.non-veg-allowed div{
    width: 50%;
    margin: 0 !important;
    justify-content: unset !important; 

}
.non-veg-allowed div div{
    justify-content: unset !important;
    width: 30%;
}
.flooring-type{
    width: 50% !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    margin-top: 10px !important;
    row-gap: 20px;

}
.flooring-type>div{
    width: 48%;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    margin: 0 !important;
}
.flooring-type div label{
    font-size: 13px;
    margin-top: 0 !important;
    width: 100% !important;
}
.flooring-type>div>div{
    width: 100% !important;
}
.flooring-type-section{
    display: flex;
    align-items: flex-start !important;
}
/* .flooring-type-section label{
    margin-top: 10px;
} */
.selected-amenities{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: unset !important;
    border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
    padding-bottom: 10px;
}
.selected-amenities>p{
    font-size: 12px;
    display: flex;
    align-items: center;

    background-color: white;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
   margin: 5px ;
}
.selected-amenities>p>svg{
    width: 9px;
    height: 9px;
    margin-left: 5px;
    cursor: pointer;
}

/* 
popup */

.popup{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.500);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy{
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.popup-container{
    width: 800px;
    height: fit-content;
    background-color: var(--sandal);
    border-radius: 5px;
    padding: 20px 40px;
}
.popup-container>p{
    width: 100%;
    font-size: 18px;
    color: var(--brown);
    font-weight: bold;
}
.popup-container{
    display: flex;
    flex-wrap: wrap;
position: relative;
z-index: 5;
    gap: 5px;
}
.popup>.popup-container>div{
    display: flex;
    justify-content: unset;
    width: 30%;
}
.popup-container>div>span{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 3px 5px;
    color: var(--brown);
    font-weight: 500;
 
}
.popup-container>div>span>input{
    margin-right: 5px;
}
.save-btn{
    width: 100% !important;
    margin: 20px auto;
    display: flex;
    justify-content: center !important;
}
.save-btn>button{
    background-color: var(--brown);
    color: white;
    width: fit-content !important;
    border: none;
    padding: 8px 20px;
}
.redtext{
    color: red;
    font-size: 0.8rem;
    padding: 0;
    margin-left: 435px;
}