 <header>
  <div class="logo" style="z-index: 5000;" >
    <a routerLink="/">
        <img src="../../../assets/images/ownerLogo .png">
    </a>
  
</div>
 
 <div>
  
  <button class="register-button"(click)="routeToLog()">Login</button>
  <button class="post-your-property" (click)="routeToHome()">Back To Search<svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.5 4H3.25C2.65326 4 2.08097 4.23705 1.65901 4.65901C1.23705 5.08097 1 5.65326 1 6.25V16.75C1 17.3467 1.23705 17.919 1.65901 18.341C2.08097 18.7629 2.65326 19 3.25 19H13.75C14.3467 19 14.919 18.7629 15.341 18.341C15.7629 17.919 16 17.3467 16 16.75V8.5M5.5 14.5L19 1M19 1H13.75M19 1V6.25" stroke="#FEFFEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </button>
 

 
 <div class="dropdown">
    <button class="btn dropdown-toggle" style="height: fit-content;position: static !important;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     

    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
 
 </div>
 
 
 
 </header> 

<div class="container">




  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
  <div class="main">

    <div class="top-ad">

      <img src="../../assets/images/top-container-ad.png" width="100%">
    </div>

    <h1 style="font-weight: 700;">Register to post your property</h1>


    <div class="form">
      <form [formGroup]="loginForm">
        <div class="form-data">
          <label>Name :</label>
          <input type="text" placeholder="Enter Your name" formControlName="userName">
        </div>
        <div class="error-msg" *ngIf="isSubmit&&loginForm.get('userName')?.invalid">
          <label></label>
         <p>Name is required!</p>
        </div>
        <div class="form-data">
          <label>Mobile Number :</label>
          <input type="number"  onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" maxlength="10" pattern="[6789][0-9]{9}" placeholder="Enter Your Mobile Number" formControlName="mobile" (keyup)="errmsg()">
        </div>
        <div class="error-msg" *ngIf="isSubmit">
          <label></label>
         <p *ngIf="Formcontrol.mobile.errors?.['required']">Mobile Number is required!</p>
         <p *ngIf="Formcontrol.mobile.errors?.['pattern']">Enter a valid Number!</p>
        
        </div>
       
        <div class="form-data">
          <label>Email :</label>
          <input type="email" placeholder="Enter Your Email ID"  formControlName="email" (keyup)="errmsg()">
        </div>
        <div class="error-msg" *ngIf="isSubmit">
          <label></label>
         <p *ngIf=" Formcontrol.email.errors?.['required']">Email is required!</p>
         <p *ngIf=" Formcontrol.email.errors?.['pattern']">Enter a valid Email!</p>
        </div>
       
        <div class="buyer-tenant form-data">
          <div>
            <input type="radio" formControlName="Role" value="Seller">Seller
          </div>
          <div>
            <input type="radio" formControlName="Role" value="Owner">Owner
          </div>
        </div>
        <div class="error-msg" *ngIf="isSubmit&&loginForm.get('Role')?.invalid">
          <label></label>
         <p>Role is require!</p>
        </div>
        <div style="color:red;text-align: left;">
          <p *ngIf="mailAlready">Email is Already Registered Please Login</p>
          <p *ngIf="mobile">Mobile is Already Registered Please Login</p>
        </div>
        <div class="login-btn">
          <button type="button" (click)="onSubmitted()">Register</button>
        </div>
       
      </form>
    </div>
  </div>
  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>


</div>
