<header-with-profile></header-with-profile>
<div class="container">
  <div class="sidebar">
    <seller-admin-sidebar></seller-admin-sidebar>
  </div>
  <div class="main">
    <nav>
      <p class="navbar-links nav-active" (click)="back(0)">Property details</p>
      <p class="navbar-links" (click)="back(1)">Location Details</p>
      <p class="navbar-links" (click)="back(2)">Rental Details</p>
      <p class="navbar-links" (click)="back(3)">Amenities</p>
      <p class="navbar-links" (click)="back(4)">Gallery</p>
      <p class="navbar-links" (click)="back(5)">Additional Details</p>
    </nav>

    <div class="property-details">
      <form [formGroup]="propform" (ngSubmit)="propsub()">
        <h2>Property Details</h2>
        <div class="form">
          <div>
            <label>Property Type :</label>

            <div
              class="dropdown select-field"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p [innerHTML]="pv"></p>
              <p
                [innerHTML]="data.propertType"
                *ngIf="data.propertType && !pv"
              ></p>
              <p *ngIf="!pv && !data.propertType" style="opacity: 0.5">
                Property Type
              </p>

              <ul class="dropdown-menu select-filed-options">
                <li>
                  <a class="dropdown-item" (click)="propertyv('Apartment')"
                    >Apartment</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="propertyv('Individual House/Villa')"
                    >Individual House/Villa</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="propertyv('Gated Community')"
                    >Gated Community</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <p class="redtext" *ngIf="pv == null && submitted">
            Select Property Type
          </p>

          <div class="floors">
            <label>Floors :</label>
            <div>
              <div class="dropdown select-field">
                <p
                  style="width: 100%"
                  type="button"
                  class="dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  <span [innerHTML]="tfv" *ngIf="tfv"></span>
                  <span style="opacity: 0.5" *ngIf="!tfv && !data.noOfFloor"
                    >Total Floors</span
                  >
                  <span
                    [innerText]="data.noOfFloor"
                    *ngIf="!tfv && data.noOfFloor"
                  ></span>
                </p>
                <ul class="dropdown-menu select-filed-options">
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="groundFloorv('Full Building')"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Full Building</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="groundFloorv('Lower Basement')"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Lower Basement</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="groundFloorv('Upper Basement')"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Upper Basement</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="groundFloorv('Ground Floor')"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Ground Floor</a
                    >
                  </li>
                  <li *ngFor="let countf of myarray">
                    <a
                      class="dropdown-item"
                      (click)="groundFloorv(countf)"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {{ countf }} floors</a
                    >
                  </li>
                </ul>
              </div>

              <div class="dropdown select-field">
                <p
                  style="width: 100%"
                  type="button"
                  class="dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  <span [innerHTML]="ofv" *ngIf="ofv"></span>
                  <span *ngIf="!ofv && !data.floorNo" style="opacity: 0.5"
                    >On Floors</span
                  >
                  <span
                    [innerText]="data.floorNo"
                    *ngIf="!ofv && data.floorNo"
                  ></span>
                </p>
                <ul class="dropdown-menu select-filed-options">
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="onFloorv('Groud Floor', 0)"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Ground Floor</a
                    >
                  </li>

                  <li
                    *ngFor="let floor of numarray"
                    (click)="onFloorv(floor, floor)"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ floor }} Floors
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="err-msg">
            <p *ngIf="tfv == null && submitted" style="width: 25%">
              Select Total floors
            </p>
            <p *ngIf="ofv == null && submitted" style="width: 21%">
              Select On floor
            </p>
          </div>

          <div>
            <label>Age of Property :</label>

            <div
              class="dropdown select-field"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p [innerHTML]="aop" *ngIf="aop"></p>
              <p [innerHTML]="data.ageOfBuilding" *ngIf="!aop"></p>
              <p p *ngIf="!aop && !data.ageOfBuilding" style="opacity: 0.5">
                Age of Property
              </p>

              <ul class="dropdown-menu select-filed-options">
                <li>
                  <a
                    class="dropdown-item"
                    (click)="ageofpropv('Less than Year')"
                  >
                    Less than Year</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="ageofpropv('1 to 3 Years')">
                    1 to 3 Years</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="ageofpropv('3 to 5 Years')"
                    >3 to 5 Years</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="ageofpropv('5 to 10 Years')"
                    >5 to 10 Years</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="ageofpropv('10+ Years')"
                    >10+ Years</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <p class="redtext" *ngIf="aop == null && submitted">
            Select Age pf property Type
          </p>
          <div>
            <label>BHK Type :</label>

            <div
              class="dropdown select-field"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p [innerHTML]="bhkv"></p>
              <p [innerHTML]="data.BHKType" *ngIf="!bhkv"></p>
              <p p *ngIf="!bhkv && !data.BHKType" style="opacity: 0.5">
                BHK Type
              </p>

              <ul class="dropdown-menu select-filed-options">
                <li>
                  <a class="dropdown-item" (click)="bhktyev('1 RK', 0)">1 RK</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('1 BHK', 1)"
                    >1 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('2 BHK', 2)"
                    >2 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('3 BHK', 3)"
                    >3 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('4 BHK', 4)"
                    >4 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('5 BHK', 5)"
                    >5 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('6 BHK', 6)"
                    >6 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('7 BHK', 7)"
                    >7 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('8 BHK', 8)"
                    >8 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('9 BHK', 9)"
                    >9 BHK</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="bhktyev('10+ BHK', 10)"
                    >10 BHK</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <p class="redtext" *ngIf="bhkv == null && submitted">
            Select BHK Type
          </p>

          <div>
            <label>Build up Area :</label>
            <div
              style="
                width: 50%;
                display: flex;
                align-items: flex-end;
                margin-top: 0;
                height: fit-content;
                margin-bottom: 0 !important;
              "
            >
              <input  type="number"
              onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" style="width: 90%" formControlName="BuildupArea" />
              <p 
                style="
                  width: 10%;
                  border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
                "
              >
                Sq.ft
              </p>
            </div>
          </div>

          <p
            class="redtext"
            *ngIf="propform.get('BuildupArea').invalid && submitted"
          >
            Build Up Area is Required
          </p>

          <div>
            <label>Rent Preference :</label>

            <div
              class="dropdown select-field"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p [innerHTML]="rpv"></p>
              <p [innerHTML]="data.RentPrefer" *ngIf="!rpv"></p>
              <p *ngIf="!rpv && !data.RentPrefer" style="opacity: 0.5">
                Rent Preference
              </p>

              <ul class="dropdown-menu select-filed-options">
                <li>
                  <a class="dropdown-item" (click)="rentprefv('Family')"
                    >Family</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="rentprefv('Bachelor')">
                    Bachelor</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="rentprefv('Company')"
                    >Company</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="rentprefv('Any')">Any</a>
                </li>
              </ul>
            </div>
          </div>

          <p class="redtext" *ngIf="rpv == null && submitted">
            Select Rent Preference Type
          </p>

          <div>
            <label>Facing Direction :</label>
            <div
              class="dropdown select-field"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p [innerHTML]="fdv"></p>
              <p [innerHTML]="data.facingDirection" *ngIf="!fdv"></p>
              <p *ngIf="!fdv && !data.facingDirection" style="opacity: 0.5">
                Facing Direction
              </p>

              <ul class="dropdown-menu select-filed-options">
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('North')"
                    >North</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('South')"
                    >South</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('East')"
                    >East</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('West')"
                    >West</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('North East')"
                    >North East</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('South East')"
                    >South East</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('North West')"
                    >North West</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="faceDirectv('South West')"
                    >South West
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="redtext" *ngIf="fdv == null && submitted">
            Select Facing Direction
          </p>

          <div style="display: flex; align-items: flex-start">
            <label>Description :</label>
            <!-- <input type="text"> -->
            <div style="width: 50%; padding-top: 0; position: relative">
              <textarea
                formControlName="Description"
                style="width: 100%; min-height: 150px; margin-top: -10px"
                maxlength="100"
                #description
              ></textarea>
              <p
                style="
                  position: absolute;
                  bottom: 5px;
                  right: 10px;
                  font-size: 12px;
                  opacity: 50%;
                "
              >
                {{ description.value.length }}/100
              </p>
            </div>
          </div>

          <div class="save-continue">
            <button type="submit" *ngIf="!data.final" (click)="propsub()">
              Save & Continue
            </button>
          </div>
          <div class="save-continue">
            <button type="button" *ngIf="data.final" (click)="routetopreview()">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="ad"></div>
</div>
<seller-footer></seller-footer>
