.container{
    display: flex;
    flex-direction: column;
}

.search-field{
    box-shadow: 0px -1px 4px #cfb9978b;
display: flex;
justify-content:space-between;
border: solid rgba(128, 128, 128, 0.523) 1px;
margin-top: 50px;
}
.search-field .location,.search-field input{
    background-color: white !important;
}
.location{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-weight: 400 !important;
    font-size: 14px;
    background: #FEFFEF;
    position: relative;


}
.location::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    right: 0;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.131),#FEFFEF);
}
.input{
    width: 60%;
    padding: 10px 20px;
    background: #FEFFEF;
    outline: none;
    border: none;

}


.search{
    width: 20%;
    padding: 10px 20px;
    display: flex;
    background-color: #473B32;
    align-items: center;
    justify-content: center;
    color: #FEFFEF;
    cursor: pointer;

}
.search span{
    display: flex;
    align-items: center;
}
.search svg{
    margin-right: 10px;
}
.nearby-locations{
    display: flex;
    align-items: center;
    box-shadow: 0px -1px 4px #cfb9978b;
    padding: 5px 0;

}
.nearby-locations label{
    width: 20%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px !important;
}
.nearby-locations span{
    display: flex;
    align-items: center;
    margin: 10px 0;
background-color: #473B32;
color: var( --bgligthBlue);
font-size: 12px;
padding: 5px 10px;
border-radius: 5px;
margin:0 10px;
}
.nearby-locations span p{
    margin-left: 5px;
}
.locality{
    width: 80%;
    display: flex;
    align-items: center;
}
.locality span{
    cursor: pointer;
}
.sidebar{
    width: 15%;
    background-color:var( --bgligthBlue);
    margin: 10px;

}
.main{
    width: 70%;
    background-color:var( --bgligthBlue);

    margin: 10px 0px;

}
.main h2{
    width: 70%;
    margin: auto;
    margin-top: 30px;
 
    color: #473B32;
    font-family: var(--raleway);
    font-weight: 700;
}
.ad{
    width: 15%;
   height: 717px;
    margin: 10px;
}
.sidebar-content-list{
    background: none;
    color: black;
    padding: 10px;
}
.sidebar-content-list span{
    display: flex;
    align-items: center;
}
.sidebar-content-list svg{
    margin-right: 10px;
}

.active {
    background-color: var(--bgBlue);
    color: white;
}
.top-ad{
    height: fit-content;
}
.main h1{
    text-align: center;
    color: var(--bgBlue);
    font-family: var(--ralewaybold);
    margin: 20px 0;
}
.form{
    width: 70%;
    margin:50px auto;
   
    
}
.form div{
width: 100%;

display: flex;
margin: 20px 0;
align-items: center;
justify-content: space-between;
}
label{
    width: 25% !important;

}
.form div select,input{
    padding: 10px;
    width: 50%;
    background: none;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
    position:relative ;
}
.forgot-password{
    font-size: 10px;
    margin-top: -15px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.login-btn button{
    border: none;
    padding: 15px 70px;
    background-color: var(--bgBlue);
    color: white;
    margin-left: 30%;
    cursor: pointer;
}
 
.top-section,.main-section{
    width: 100%;
    display: flex;
}
.top-section{
    max-height: 180px !important;
    overflow: hidden !important;

}
.top-section .main{
    align-self:flex-end;
}
.top-section .ad{
    background-color: yellow;
}
.top-section .ad img{
    height: 100%;
}
.property-tab{
display: flex;

width: 100%;


}
.property-tab-select{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0 !important;
    color:var( --bgligthBlue);
    background-color: var(--bgBlue);
    cursor: pointer;
}
.sort,.notification{
    width: 10%;
}
.sort{
    position: relative;
}
.sort-dropdown{
    position: absolute;
    top: 40px;
    border: solid gray 1px;
    left: 0;
    background-color: var( --bgligthBlue);
    color: var(--bgBlue);
    min-width: 200px;
    display: none;
}
.sort-dropdown p{
    padding: 5px;
    border-bottom:solid gray 1px; 
}
.property-tab-active{
    color: var(--bgBlue);
    background-color:white;
  
}
.active{
    color: var( --bgligthBlue);
    background-color: var(--bgBlue);
}
.property-tab-select svg{
    margin-right: 5px;
}
sup{
    margin-top: -15px;
}

.main .container{
    max-width: 450px;

    margin: auto;
    margin-top: 100px;
}
.residential-commercial{
    width: 100%;
    font-weight: 500;
    display: flex;
    cursor: pointer;
}
.residential{
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: var(--bgligthBlue);
    color: white;
}
.commercial{
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color:white;
    color: var(--bgBlue);
}
.main .container p{
    text-align: center;
    margin: 20px 0;
    opacity: 70%;
}
.buy-rent{
    display: flex;
    width: 180px;
flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.buy,.rent{
    width: fit-content;

    display: flex;
    align-items: center;
}
.buy-rent input{
    width: fit-content;
    margin-right: 7px;
    cursor: pointer;
}
.buy-rent button{
    width: 100%;
    background-color: var(--bgBlue);
    border: none;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
}
.popup-parent{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.482);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    height: 85vh;
    width: 68%;
background-color:var( --bgligthBlue);
padding:20px 40px;
overflow-y: scroll;
position: relative;
}
.breadcrumbs{
    position: fixed;
    background-color: var( --bgligthBlue);
    width: 850px;
    height: 50px;
    top: 49px;

    z-index: 5;
}
.breadcrumbs ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
}
.breadcrumbs ul li{
    margin-left: 5px;
    font-weight: 500;
    color: var(--bgBlue);
}
::-webkit-scrollbar {
    display: none;
  }
.popup .container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.popup .container div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.range-select{
    display: flex;
    align-items: center !important;
    margin-bottom: 10px;
}
.range-select .wrapper{
    width: 70%;
    position: relative !important;
    overflow: hidden;
}
.popup .container label{
    width: 30%;
    color: var(--bgBlue);
    font-weight: 500;
}
.option-selects{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.option-selects div{
  width: 33.33%;
    display: flex;
    align-items: center !important;
    margin-bottom: 0 !important;
}
.option-selects div  input{
    width: fit-content;
    margin-right: 5px;

}
.option-selects {
    color: var(--bgBlue) !important;
}
.set-alert-btn{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.set-alert-btn button{
    width: fit-content;
    padding: 10px 40px;
    background-color: var(--bgBlue);
    border: none;
    color: white;
}