<div class="container">



     
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    <div class="main">
 
<div class="top-ad">

<img src="../../assets/images/top-container-ad.png" width="100%">
</div>

<h1>Check Your Mail</h1>

<h3>“ Thank You For Registering In Real Estate “</h3>
<h5>“ Check Your Email For Verification “</h5>




    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    
    
    </div>