.container{
    display: flex;
    flex-direction: column;
}


.sidebar{
    width: 15%;
    background-color:var( --bgligthBlue);
    margin: 10px;
    justify-content: unset !important;

}
.main{
    width: 85%;
    background-color:var( --bgligthBlue);

    margin: 10px 10px 0 0;

}
.main h2{
    width: 70%;
    margin: auto;
    margin-top: 30px;
 
    color: #473B32;
    font-family: var(--raleway);
    font-weight: 700;
}
.ad{
    width: 15%;
   height: 717px;
    margin: 10px;
}
.sidebar-content-list{
    background: none;
    color: black;
    padding: 10px;
}
.sidebar-content-list span{
    display: flex;
    align-items: center;
}
.sidebar-content-list svg{
    margin-right: 10px;
}

.active {
    background-color: var(--bgBlue);
    color: white;
}
.top-ad{
    height: fit-content;
}
.main h1{
    text-align: center;
    color: var(--bgBlue);
    font-family: var(--ralewaybold);
    margin: 20px 0;
}
.form{
    width: 70%;
    margin:50px auto;
   
    
}
.form div{
width: 100%;

display: flex;
margin: 20px 0;
align-items: center;
justify-content: space-between;
}
label{
    width: 25% !important;

}
.form div select,input{
    padding: 10px;
    width: 50%;
    background: none;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
    position:relative ;
}
.forgot-password{
    font-size: 10px;
    margin-top: -15px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.login-btn button{
    border: none;
    padding: 15px 70px;
    background-color: var(--bgBlue);
    color: white;
    margin-left: 30%;
    cursor: pointer;
}
 
.top-section,.main-section{
    width: 100%;
    display: flex;
}
.top-section{
    max-height: 180px !important;
    overflow: hidden !important;

}
.top-section .main{
    align-self:flex-end;
}
.top-section .ad{
    background-color: yellow;
}
.top-section .ad img{
    height: 100%;
}
.property-tab {
display: flex;
justify-content: space-between;
width: 100%;
padding: 10px 0;
background-color: var(--bgBlue);
align-items: baseline;
flex-direction: column;
}

.p-tab-text{
    color: white;
 
    padding-left: 30px;
    font-size: 13px;
}
.content-1{
    display: flex;
    display: flex;
    align-items: center;
}
.property-tab h5{
    width:100%;
    padding: 10px;
    margin: 0 !important;
    color:var( --bgligthBlue);
    background-color: var(--bgBlue);
    cursor: pointer;
    /* font-family: var(--ralewaybold); */
    font-weight: 700;
    margin-left: 5px;
}
.notification{
background-color: var(--bgBlue);
height: 100%;
margin-right: 30px;
}
.property-tab-active{
    color: var(--bgBlue);
    background-color:white;
  
}
.active{
    color: var( --bgligthBlue);
    background-color: var(--bgBlue);
}
.property-tab-select svg{
    margin-right: 5px;
}
sup{
    margin-top: -15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
table tr th{
    font-weight: 400;
    vertical-align: middle;
  align-items: center;

}
.table-head{
background-color: var( --bgligthBlue);
color: var(--bgBlue);
height: 50px;
}
.main-section .main{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
th span{
    display: flex;
    align-items: center;
    width: fit-content;
 margin-left: 10px;
}
th span svg{
    margin-right: 5px;
}
table td{
    padding-left: 10px;
    /* border-bottom: solid gray 1px; */
    height: 50px;
}
table tr{
    border-bottom: solid gray 1px;
}
.bottom-section{
    width: 50%;
margin-left: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.range{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.range svg{
    margin-right: 10px;
   
}
.range p{
    font-weight: 500;
    color: var(--bgBlue);
    font-size: 18px;
}
.pagination{
    width: fit-content;
    display: flex;

}
.page-next,.page-prev{
    cursor: pointer;
}
.page-prev,.page-next,.page-count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgBlue);
    height: 40px;
    width: 40px;
}
.page-count{
    background-color: white;
}
td svg:nth-child(2){
margin-left: 20px;
}
td input{
    width: fit-content;
    margin-right: 10px;
}
td p{
    display: flex;
    align-items: center;
}
td p svg{
    margin-right: 5px;
}
.scheduled{
    color: green;
}
.rejected{
    color: red;
}
.fixed{
    color: #1877F2;
}
.visited{
    color: #FD841F;
}
.empty{
    background-color: var(--bgBlue);
    padding: 32px 0;
    margin-bottom: 5px;
}


header{
    height: 80px;
    background-color: var(--bgBlue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 10px;
  
  }
  header>.logo{
    height: 55px;
  }
  header>.logo>img{
    height: 100%;
  }
  header>div{
    display: flex;
  align-items: center;
  }
  header>div>.login-button{
    background: white;
  }
  header>div>.register-button{
    background:var(--bgligthBlue);
  
  }
  header>div>button{
    padding: 7px 10px;
    margin: 0 5px;display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 2px;
  
  }
  .post-your-property{
    background: none;
    border: none;
    color: white;
  }
  .post-your-property>svg{
    margin-left: 5px;
  }
  
  .user{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .user-img{
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
  }
  .user-img img{
    height: 100%;
  }
  .user-name{
    color: white;
  }
  
  
  .dropdown-toggle::after {
    display:none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  
  table tr td:last-child{
    position: relative;
}
.schedule-popup{
    position: absolute;
    bottom:-200px;
    width: 250px;
    left: -100px;
    background-color: #FFFFFF;
    height: 200px;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.062);
    padding: 15px;

}

.select-date .select-date-input{
    display: flex;
    margin-top: 10px;
}.select-date h6{
    text-align: center;
}
.select-date .select-date-input p{
    width: 33.333%;
    text-align: center;
    padding-left: 10px;
    border: solid gray 1px;

}
.selections{
    display: flex;
}
.selections span{
    width: 33.333%;
    height: fit-content;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border: solid gray 1px;

}
.selections span::-webkit-scrollbar{
    display: none;
}
.selections span:nth-child(2){
    left: 33.33%;
}
.selections span:nth-child(3){
    left: 66.66%;
}
.schedule-popup section{
    position: relative;

}
.button{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.select-time-btn{
    background-color: var(--bgBlue);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 12px;
    border-radius: 3px;
}
.property-tab-stream{
    display: flex;
    width: 100%;
    padding: 10px 0;
    background-color: var(--bgBlue);
    height: 18%;

}
.stream-content-1{
    width:70%;
}
.stream-content-2{
    width:30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.stream-content-2 label{
    color: white;
}
.stream-content-2 input{
    background-color: none;
    border-color: white;
    width: fit-content !important;
}
.stream-content-2 svg{
    margin-right: 20px;
    height: 55px;
}
.top-content{
    height: 50%;
}
.top-content svg{
    margin-left: 5px;
    margin-right: 10px;
    height: 20px;
}
.top-content h5{
    color: white;
}
.bottom-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.stream-name{
    width: 35%;
    margin-left: 33px;
}
.stream-name svg{
    margin-right: 10px;
}
.stream-details{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-around;
}
.white p{
    color: white;
    font-size: 14px;
}
.st-btn{
    padding: 5px 20px;
    max-width: 125px;
    border-radius: 12%;
}
.reject{
   background-color: rgba(255, 0, 0, 0.058);
   color: #FF0000;
}
.st-btn svg{
    margin-right: 5px;
}
.sch{
    background-color:  rgba(71, 59, 50, 0.1);
    color: rgba(71, 59, 50, 1);
}
.fix{
    background-color: rgba(24, 119, 242, 0.1);
    color: rgba(24, 119, 242, 1);
}
.vis{
    background: rgba(253, 132, 31, 0.1);
    color: rgba(253, 132, 31, 1);

}
.cus-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    background-color: beige;
}
.con-btn{
    padding: 5px 13px;
    color: white;
    background: #473B32;
}
.fix{
    color: 
    rgba(24, 119, 242, 1);
    background-color: 
    rgba(24, 119, 242, 0.1);
}