<empty-header-all></empty-header-all>
  
  <div class="container">
  
  
  
    <div class="ad">
      <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    <div class="main">
  
      <div class="top-ad">
  
        <img src="../../assets/images/top-container-ad.png" width="100%">
      </div>
  
      <h1 style="font-weight: 700;" >Log in to access Your Alerted Live Streams
  
        <!-- For Post your Property Login--
  
    Log In to post your property -->
      </h1>
      <div class="form">
        <form [formGroup]="form">
          <div>
            <label style="width:500px">Email :</label>
            <input type="email" formControlName="email" 
             placeholder="Enter Your Email ID " >
          </div>
          <div class="error-msg" >
            <label style="width:500px"></label>
            <p  *ngIf="form.get('email').invalid && submit">Email is required !</p>
          </div>
          <div>
            <label>Password :</label>
            <input type="password"  formControlName="password" 
            placeholder ="Enter Your Password "  >
          </div>
          <div class="error-msg">
            <label style="width:500px"></label>
            <p *ngIf="wrongEmail && submit"   >Enter a Registered Email Id</p>
            <p *ngIf="form.get('password').invalid && submit">Password is Required </p>
       
  
          </div>
          <p class="forgot-password" routerLink="/sub-host-forgot-password" >Forgot Password !</p>
  
          <div class="login-btn">
            <button type="button" (click)="login()">Log In</button>
            
          </div>
        </form>
      </div>
      <div class="subhost" (click)="routeToVerfiy()"  ><p style="font-size: 19px;">First Time User</p><svg width="20" height="18" style=" margin-left: -15px; " viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5 4H3.25C2.65326 4 2.08097 4.23705 1.65901 4.65901C1.23705 5.08097 1 5.65326 1 6.25V16.75C1 17.3467 1.23705 17.919 1.65901 18.341C2.08097 18.7629 2.65326 19 3.25 19H13.75C14.3467 19 14.919 18.7629 15.341 18.341C15.7629 17.919 16 17.3467 16 16.75V8.5M5.5 14.5L19 1M19 1H13.75M19 1V6.25" stroke="#473B32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div>
    </div>
    <div class="ad">
      <img src="../../assets/images/ad-post.png" width="100%">
    </div>
  </div>
  