<header-with-profile></header-with-profile>
<div class="container">
  <div class="sidebar">
    <seller-admin-sidebar></seller-admin-sidebar>
  </div>
  <div class="main">
    <nav>
      <p class="navbar-links" (click)="back(0)">Property details</p>
      <p class="navbar-links" (click)="back(1)">Location Details</p>
      <p class="navbar-links" (click)="back(2)">Rental Details</p>
      <p class="navbar-links" (click)="back(3)">Amenities</p>
      <p class="navbar-links nav-active" (click)="back(4)">Gallery</p>
      <p class="navbar-links" (click)="back(5)">Additional Details</p>
    </nav>

    <div class="Location-details">
      <h2>Gallery</h2>

      <div class="upload-section">
        <div class="upload-image" style="position: relative;">
          <p
            
          >
            Photos :<span class="red">*</span>
          </p>
         
          <label for="imagefor" class="img-upl">Upload Image</label>
          <input
            type="file"
            style="display: none"
            id="imagefor"
            (change)="onFileselect($event)"
            [multiple]="5"
            accept="image/gif, image/jpeg, image/png"
          />
          <p class="det-tag">PNG, JPG (Up to 5 Images)</p>
        </div>
        <p
          class="redtext"
          *ngIf=" submited && checkErrorImg (data.image , imagePreview )"
        >
          Mininum 1 photo required!
        </p>
        <!-- *ngIf=" submited && (!data.image || imagePreview.length == 0 )" -->
        <p *ngIf="errmsg" style="color: red">{{ errmsg }}</p>

        <div class="image-gallery">
          <div
            class="images"
            *ngFor="let preview of imagePreview; let i = index"
          >
            <img [src]="preview" width="200px" height="150ox" />
            <span class="when-hover">
              <img
                src="../../assets/images/image-remove-btn.png"
                (click)="removeimg(i)"
              />
            </span>
          </div>
        </div>

        <div class="image-gallery" *ngIf="data.image != ''">
          Uploaded Images
          <div class="images" *ngFor="let img of data.image; let i = index">
            <img [src]="img" width="200px" height="150ox" />
            <div class="when-hover">
              <img
                src="../../assets/images/image-remove-btn.png"
                (click)="removeImgBackend(img)"
              />
            </div>
          </div>
        </div>

        <div class="upload-video" style="position: relative;">
          <label 
            >Video :<span class="red">*</span></label
          >
          <label for="videoinput" class="img-upl">Choose Video</label>
          <input
            type="file"
            style="display: none"
            (change)="onvidselect($event)"
            id="videoinput"
            accept="video/mp4,video/x-m4v,video/*"
          />
          <p class="det-tag" style="right: 75px;">(File Size 40 MB)</p>
        </div>
        <p *ngIf="viderrmsg" style="color: red">{{ viderrmsg }}</p>

        <div class="image-gallery" *ngIf="videoSrc">
          <div class="images video">
            <video
              [src]="videoSrc"
              *ngIf="videoSrc"
              controls
              style="width: 200px"
            ></video>
            <div class="when-hover">
              <img
                src="../../assets/images/image-remove-btn.png"
                (click)="removevid()"
              />
            </div>
          </div>
        </div>
        <div class="image-gallery" *ngIf="data.videos != ''">
          Uploaded Video
          <div class="images video" *ngFor="let vid of data.videos">
            <video [src]="vid" controls style="width: 200px"></video>
            <div class="when-hover">
              <img
                src="../../assets/images/image-remove-btn.png"
                (click)="removeVidBackend()"
              />
            </div>
          </div>
        </div>
        <!-- *ngIf="  submited && (!data.videos || !videoSrc) " -->
        <p class="redtext"  *ngIf="submited && checkError(data.videos,videoSrc)">
          Video required!
        </p>
      </div>

      <div class="save-continue">
        <button (click)="submit()" *ngIf="!data.final">Save & Continue</button>
      </div>
      <div class="save-continue" style="margin-top: 20px">
        <button (click)="routetopreview()" *ngIf="data.final">Save</button>
      </div>
    </div>
  </div>

  <div class="ad"></div>
</div>
<seller-footer></seller-footer>
