.container {
  display: flex;
}

.sidebar {
  width: 15%;
  background-color: var(--sandal);
  margin: 10px;

}

.main {
  width: 70%;
  background-color: var(--sandal);

  margin: 10px 0px;

}

.main h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #473B32;
  font-family: var(--ralewaybold);
  font-weight: 700;
}

.ad {
  width: 15%;

  height: 717px;
  margin: 10px;
}

.sidebar-content-list {
  background: none;
  color: black;
  padding: 10px;
}

.sidebar-content-list span {
  display: flex;
  align-items: center;
}

.sidebar-content-list svg {
  margin-right: 10px;
}

.active {
  background-color: var(--brown);
  color: white;
}

.top-ad {
  height: fit-content;
}

.main h1 {
  text-align: center;
  color: var(--brown);
  font-family: var(--ralewaybold);
  margin: 20px 0;
}

.form {
  width: 70%;
  margin: 50px auto;


}

.form div {
  width: 100%;

  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
}

label {
  width: 20% !important;

}

.form div input {
  padding: 10px;
  width: 70%;
  background: none;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
}

.forgot-password {
  font-size: 10px;
  margin-top: -15px;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn button {
  border: none;
  padding: 15px 70px;
  background-color: var(--brown);
  color: white;
  margin-left: 30%;
  cursor: pointer;
}
.error-msg{
  color: red;
}
a{
  cursor: pointer;

}

/* header */
header{
  height: 80px;
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 10px;

}
header>.logo{
  height: 55px;
}
header>.logo>img{
  height: 100%;
}
header>div{
  display: flex;
align-items: center;
}
header>div>.login-button{
  background: white;
}
header>div>.register-button{
  background:white;
  color: black;
  font-weight: 500;
  padding: 10px 25px;

}
header>div>button{
  padding: 7px 10px;
  margin: 0 5px;display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 2px;

}
.post-your-property{
  background: none;
  border: none;
  color: white;
}
.post-your-property>svg{
  margin-left: 5px;
}


.user{
  display: flex;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
}

.user-img{
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.user-img img{
  height: 100%;
}
.user-name{
  color: white;
}


.dropdown-toggle::after {
  display:none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
