<empty-header-all></empty-header-all>
<div class="container">
  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
  <div class="main">
    <div class="top-ad">
      <img src="../../assets/images/top-container-ad.png" width="100%">
    </div>
    <h1>Check Your Mobile For OTP</h1>
    <form [formGroup]="otp_Form">
      <div class="otp-field">
        <label>OTP :</label>
        <div>
          <input type="text" placeholder="Enter OTP" formControlName="otp">
          <div class="resend-otp" style="display: flex; justify-content: end;">
            <p style="color: var(--bgBlue); text-decoration: underline; cursor: pointer;" *ngIf="recentShow"
              (click)="resend()">Resend OTP
            </p>
            <p style="color: var(--bgBlue);" *ngIf="!recentShow">
             Expired in <span style="font-weight: 600;">{{remainingTime}}</span>
            </p>
          </div>
        </div>
      </div>
    </form>
    <div style="color:red;text-align: center;;">
    <p *ngIf=" isSubmitted &&formcontrol.otp.errors?.['required']" class=" error-msg">OTP is required!</p>
    <p *ngIf=" isSubmitted &&formcontrol.otp.errors?.['pattern']" class=" error-msg">Enter a valid Otp !</p>
    <p  *ngIf="notfound">{{errormsg}}</p>
  </div>
    <div class="verify-btn">
      <button (click)="submitOTP()">Verify</button>
    </div>
  </div>
  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
</div>
