<app-header></app-header>

<div class="page-forms">
  <div class="title">
    <h3 style="font-weight: 600">Add Source</h3>
    <sub> For {{ userName }}</sub>
  </div>

  <div class="plan-forms" [formGroup]="myform">
    <div class="rad">
      <p>Post Type:</p>
      <input
        type="radio"
        id="Cand"
        name="postType"
        formControlName="postType"
        value="Sale"
        style="margin-left: 60px"
        (change)="showTenat($event)"
      />
      <label for="Cand" style="padding-left: 5px">Sale</label>
      <input
        type="radio"
        id="Emp"
        name="postType"
        formControlName="postType"
        value="Rent"
        style="margin-left: 50px"
        (change)="showTenat($event)"
      />
      <label for="Emp" style="padding-left: 5px">Rent</label>
    </div>
    <b [class.errtxt]="submitted && myform.get('postType')?.invalid" *ngIf="submitted && myform.get('postType')?.invalid"> Select Post Type </b>

    <div class="rad">
      <p>Category:</p>
      <input
        type="radio"
        id="Cand1"
        name="category"
        formControlName="category"
        value="Commercial"
        style="margin-left: 60px"
      />
      <label for="Cand1" style="padding-left: 5px">Commercial</label>
      <input
        type="radio"
        id="Emp1"
        name="category"
        formControlName="category"
        value="Residential"
        style="margin-left: 50px"
      />
      <label for="Emp1" style="padding-left: 5px">Residential</label>
    </div>
    <b [class.errtxt]="submitted && myform.get('category')?.invalid" *ngIf="submitted && myform.get('category')?.invalid"> Select Category Type </b>

    <div>
      <p>Property Type :</p>
      <input
        type="text"
        name="propertyType"
        formControlName="propertyType"
        [class.err]="submitted && myform.get('propertyType')?.invalid"
        placeholder="Enter Property Type"
      
      />
    </div>

    <div>
      <p>BHK or Building Type:</p>
      <input
        type="text"
        name="bhkBuilding"
        [class.err]="submitted && myform.get('bhkBuilding')?.invalid"
        placeholder="Enter BHK or Building Type "
        formControlName="bhkBuilding"
      />
    </div>
    <div>
      <p>Sqft:</p>
      <input
        type="number"
        name="sqft"
        [class.err]="submitted && myform.get('sqft')?.invalid"
        placeholder="Enter sqft "
        formControlName="sqft"
      />
    </div>
    <div>
      <p>Price Expectation:</p>
      <input
        type="number"
        name="priceExp"
        [class.err]="submitted && myform.get('priceExp')?.invalid"
        placeholder="Enter Price Expectation"
        formControlName="priceExp"
      />
    </div>
    <div>
      <p>Location:</p>
      <input
        type="text"
        name="location"
        [class.err]="submitted && myform.get('location')?.invalid"
        placeholder="Enter location"
        formControlName="location"
      />
    </div>
    <div *ngIf="Tenatshow">
      <p>Tenant Type:</p>
      <input
        type="text"
        name="tenantType"
        [class.err]="submitted && myform.get('tenantType')?.invalid"
        placeholder="Enter Tenant Type"
        formControlName="tenantType"
      />
    </div>
    <div>
      <p>Furnishing Status:</p>
      <!-- <input
        type="text"
        name="furnitionStatus"
        [class.err]="submitted && myform.get('furnitionStatus')?.invalid"
        placeholder="Enter Furnishing Status"
        formControlName="furnitionStatus"
      /> -->
      <select [class.err]="submitted && myform.get('furnitionStatus')?.invalid" placeholder="Enter Furnishing Status" class="sele" formControlName="furnitionStatus">
        <option [ngValue]="null" selected disa>Select Furnishing Status</option>
        <option value="UnFurnished">UnFurnished</option>
        <option value="Semi Furnished">Semi Furnished</option>
        <option value="Fully Furnished">Fully Furnished</option>
      </select>
    </div>


    <div>
      <p>Upload Photo:</p>
      <label for="img-upd"   [class.err]="submitted && imagePreview.length ==0" class="img-lab">Choose Image</label><sub>.jpg.png (Max 5 Image) </sub>
      <input
      [multiple]="5"
        #imginpt
        id="imginpt"
        accept="image/gif, image/jpeg, image/png"
        (change)="onFileselect($event)"
        style="display: none"
      
        type="file"
        id="img-upd"
      />
    </div>


    <div class="image-gallery">
      <div
        class="images"
        *ngFor="let preview of imagePreview; let i = index"
      >
        <img [src]="preview" width="200px" height="150ox" />
        <div class="when-hover">
          <img
            src="../../assets/images/image-remove-btn.png"
            (click)="removeimg(i)"
          />
        </div>
      </div>
    </div>
    <div>
      <p></p>
      <p *ngIf="errmsg" style="color: red;">{{errmsg}}</p>
    </div>
    <div>
      <p>Description:</p>
      <textarea
        type="text"
        name="Description"
        [class.err]="submitted && myform.get('Description')?.invalid"
        placeholder="Enter Description"
        formControlName="Description"
      
        cols="30"
      ></textarea>
    </div>


    <div class="btns">
      <button (click)="submit()">Submit</button>
    </div>
  </div>
</div>
