<header-with-profile></header-with-profile>
<div class="container">



    <div class="sidebar">
        <seller-admin-sidebar></seller-admin-sidebar>
    </div>
    <div class="main">
 
        <nav>
            <p class="navbar-links"  (click)="back(0)">Property details</p>
            <p class="navbar-links" (click)="back(1)">Location Details</p>
            <p class="navbar-links nav-active" (click)="back(2)">Rental Details</p>
            <p class="navbar-links" (click)="back(3)">Amenities</p>
            <p class="navbar-links" (click)="back(4)">Gallery</p>
            <p class="navbar-links"(click)="back(5)">Additional Details </p>
        </nav>
        



<div class="Location-details" *ngIf="switch == '' || switch == 'rent'  ">
    <h2>Rental Details</h2>

<div class="rent-lease">
    <p class="rent-lease-active" (click)="rent()"  [ngClass]="{'selected': check || switch== 'rent'}" >Rent</p>
    <p class="rent-lease-active"  (click)="lease()"  >Lease</p>
</div>
<form [formGroup]="rentform" >

    <div class="form">
    <div class="expected-rent">
        <label>Expected Rent :<span class="red">*</span></label>
   <div>
    <input type="number" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Rent Amount" formControlName="ExpectedRent">
    <div class="negotiable">
        <input type="checkbox"  formControlName="ExpectedRentNegotiable" [value]="true"><label>Negotiable</label>
    </div>
   </div>
    </div>
    <p class="redtext" *ngIf="rentform.get('ExpectedRent').invalid && submitted">Expected Rent is required!</p>
    <div class="expected-rent">
        <label>Expected Deposit :<span class="red">*</span></label>
   <div>
    <input type="number" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Deposit Amount" formControlName="ExpectedDeposit">
    <div class="negotiable">
        <input type="checkbox" formControlName="ExpectedDepositNegotiable" [value]="true" ><label>Negotiable</label>
    </div>
   </div>
    </div>
    <p class="redtext" *ngIf="rentform.get('ExpectedDeposit').invalid && submitted">Expected Deposit is required!</p>

 
    <div>
        <label>Maintenance :<span class="red">*</span></label>
   
      <div class="dropdown select-field"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
    <p [innerHTML]="maintanceVal" *ngIf="maintanceVal"></p><p *ngIf="!maintanceVal">Maintenance</p>
      
        <ul class="dropdown-menu select-filed-options" >

          <li><a class="dropdown-item" (click)="maintance('Include Maintenance')" >Include Maintenance</a></li>
          <li><a class="dropdown-item" (click)="maintance('Exclude Maintenance')">Exclude Maintenance</a></li>
        </ul>
      </div>
    </div>

    <div *ngIf="maintanceVal=='Exclude Maintenance'">
        <label>Exclude Maintenance :<span class="red">*</span></label>
     <div style="width: 50%; display: flex;
     align-items: flex-end;">
        <input type="text" style="width: 55%;" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Enter Amount" formControlName="ExcludeMaintenance">
        <!-- <select   formControlName="MrSq">
 
            <option value="Per Sq.ft/Month" >Per Sq.ft/Month</option>
            <option value="Per Month"  > Per Month</option>
        </select>  -->
        
        <div class="dropdown select-field" style="width: 45%;font-size: 12px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
           <p *ngIf="!mainmon && !data.squareFT ">select</p> <p [innerHTML]="mainmon" *ngIf="mainmon" ></p> <p [innerText]="data.squareFT" *ngIf="data.squareFT && !mainmon"></p>
              
                <ul class="dropdown-menu select-filed-options" >
        
                  <li><a class="dropdown-item" (click)="mainmonv('Per Sq.ft/Month')" >Per Sq.ft/Month</a></li>
                  <li><a class="dropdown-item" (click)="mainmonv('Per Month')">Per Month</a></li>
                </ul>
              </div>
    </div>
    </div>

    <div></div>
    <div *ngIf="maintanceVal=='Exclude Maintenance'" style="display: inline;">
        <p class="redtext" *ngIf="rentform.get('ExcludeMaintenance').errors?.required && submitted ">Exclude Maintance is required!</p>
        <p  class="redtext" *ngIf="rentform.get('sqft').invalid && submitted ">Select Type!</p>
      </div>

<div class="save-continue">
    <button type="submit" (click)="rentsub()" *ngIf="!data.final">Save & Continue</button>
</div>
<div class="save-continue">
    <button (click)="routetopreview()" type="button" *ngIf="data.final">Save</button>
</div>


</div>
</form>

<!-- lease -->
</div>
<div class="Location-details" *ngIf="switch == 'lease'">
    <h2>Lease Details</h2>

<div class="rent-lease">
    <p class="rent-lease-active" (click)="rent()" >Rent</p>
    <p class="rent-lease-active"  (click)="lease()" [ngClass]="{'selected': check1 || switch== 'lease'}">Lease</p>
</div>
<form [formGroup]="leaseform" (ngSubmit)="leasesub()">

    <div class="form">
 

    <div class="expected-rent">
        <label>Expected Lease :</label>
   <div>
    <input type="text" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Expected Lease" formControlName="LExpectedDeposit">
    <div class="negotiable">
        <input type="checkbox" formControlName="LExpectedDepositNegotiable" [value]="true" ><label>Negotiable</label>
    </div>
   </div>
    </div>
    <p class="redtext" *ngIf="leaseform.get('LExpectedDeposit').invalid && submittedL">Expected Lease is required!</p>

 
    <div>
        <label>Maintenance : </label>
   
      <div class="dropdown select-field"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
    <p [innerHTML]="LmaintanceVal" *ngIf="LmaintanceVal"></p><p *ngIf="!LmaintanceVal">Maintenance</p>
      
        <ul class="dropdown-menu select-filed-options" >

          <li><a class="dropdown-item" (click)="Lmaintance('Include Maintenance')" >Include Maintenance</a></li>
          <li><a class="dropdown-item" (click)="Lmaintance('Exclude Maintenance')">Exclude Maintenance</a></li>
        </ul>
      </div>
    </div>

    <div *ngIf="LmaintanceVal=='Exclude Maintenance'">
        <label>Exclude Maintenance :</label>
     <div style="width: 50%; display: flex;
     align-items: flex-end;">
        <input type="text" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" style="width: 55%;" placeholder="Enter Amount" formControlName="LExcludeMaintenance">
        <div class="dropdown select-field" style="width: 45%;font-size: 12px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    
           <p *ngIf="!Lmainmon"> select</p> <p [innerHTML]="Lmainmon" *ngIf="Lmainmon "></p> 
              
              
                <ul class="dropdown-menu select-filed-options" >
        
                  <li><a class="dropdown-item" (click)="Lmainmonv('Per Sq.ft/Month')" >Per Sq.ft/Month</a></li>
                  <li><a class="dropdown-item" (click)="Lmainmonv('Per Month')">Per Month</a></li>
                </ul>
              </div>
    </div>
    </div>

    <div></div>
    <div *ngIf="LmaintanceVal=='Exclude Maintenance'" style="display: inline;">
        <p class="redtext" *ngIf="leaseform.get('LExcludeMaintenance').invalid && submittedL ">Exclude Maintance is required!</p>
        <p  class="redtext" *ngIf="leaseform.get('sqft').invalid && submittedL ">Select Type!</p>
      </div>
  

   

   




<div class="save-continue">
    <button type="submit" (click)="leasesub()" *ngIf="!data.final">Save & Continue</button>
</div>
<div class="save-continue">
    <button (click)="routetopreview()" *ngIf="data.final">Save</button>
</div>


</div>
</form>

</div>
    

    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="ad"></div>
    
    
    </div>
    <seller-footer></seller-footer>