<header>
  <div class="logo">
    <img src="../../assets/images/logo.png">
  </div>

 
 
 
 </header>

<div class="container">




  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
  <div class="main">

    <div class="top-ad">

      <img src="../../assets/images/top-container-ad.png" width="100%">
    </div>

    <h1>Set Password</h1>
    <form [formGroup]="password">
      <div class="otp-field">
        <label>Password :</label>
        <div>
          <input type="text" placeholder="Enter Password" formControlName="password">
        </div>
      </div>
      <div class="otp-field" style="margin-top: 20px;">
        <label>Confirm Password :</label>
        <div>
          <input type="text" placeholder="Re-enter Password" formControlName="confirmPassword">
        </div>
      </div>
      <div *ngIf=isSubmit style="color: red !important;text-align: right !important;">
        Password and Confirm Password are Not Same!
      </div>
      <div class="verify-btn">
        <button (click)="submitOTP()">Set Password</button>
      </div>
    </form>
  </div>
  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
</div>
