<sub-host-header></sub-host-header>
<div class="container">
    <div class="ad">
        <img style="width:100%;height:100%" src="../../../../assets/images/ad-post.png">
    </div>


   
    <div class="main">
      <div class="heading" style="display: flex;justify-content: center; ">
     
        <h2>My Account</h2>
  
 
  
      </div>
  
  
  <div class="profile">
    <div>
      <label>Full Name :</label> <p>{{data.Name}}</p>
    </div>
    <div>
      <label>Mail :</label> <p>{{data.email}} </p>
    </div>
    <div>
     <label> Mobile Number :</label>  <p>{{data.phoneNumber}}</p>
    </div>
  
    <div>
      <label>Role :</label>   <p>{{data.role}}</p>
    </div>
  
  </div>
  
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="ad">
        <img style="width:100%;height:100%" src="../../../../assets/images/ad-post.png">
    </div>
  
  
    </div>