<header-with-profile></header-with-profile>
<div class="container">



    <div class="sidebar">
        <seller-admin-sidebar></seller-admin-sidebar>
    </div>
    <div class="main">

        <nav>
            <p class="navbar-links" (click)="back(0)">Property details</p>
            <p class="navbar-links" (click)="back(1)">Location Details</p>
            <p class="navbar-links" (click)="back(2)">Rental Details</p>
            <p class="navbar-links" (click)="back(3)">Amenities</p>
            <p class="navbar-links " (click)="back(4)">Gallery</p>
            <p class="navbar-links nav-active" (click)="back(5)">Additional Details </p>
        </nav>



        <div class="Location-details">
            <h2>Additional Details</h2>




            <div class="form" [formGroup]="adform" (ngSubmit)="Onsubmit()">
                <div>
                    <label>Available Form :</label>
                    <input type="Date" formControlName="datetostart"   min="{{today | date:'yyyy-MM-dd'}}">
                </div>
                <p *ngIf="adform.get('datetostart').invalid && submited" class="redtext">Date is Required!</p>

                <div>
                    <label>Contact Name :</label>
                    <input type="text" placeholder="Contact Name" formControlName="contactname">
                </div>
                <p *ngIf="adform.get('contactname').invalid && submited" class="redtext">Contact Name is Required!</p>

                <div>
                    <label>Contact Number 1 :</label>
                    <input type="number" placeholder="Contact Number" formControlName="cnumber" (keyup)="default()">
                </div>
               
                <p *ngIf="adform.get('cnumber').errors?.required && submited" class="redtext">Contact Number is Required!
                </p>
                <p *ngIf="adform.get('cnumber').errors?.pattern && submited" class="redtext">Enter a valid Number!</p>
                <div>
                    <label>Contact Number 2 :</label>
                    <input type="number" placeholder="Contact Number 2" formControlName="c2number" (keyup)="default()">
                </div>
                
                <p *ngIf="adform.get('c2number').errors?.required  && submited" class="redtext">Contact Number 2 is Required!</p>
                <p *ngIf="adform.get('c2number').errors?.pattern  && submited " class="redtext">Enter a valid Number!</p>
                <p *ngIf="sameNum  && submited " class="redtext">Number 1 and Number 2 should not be same!</p>
                
                <div class="save-continue">
                    <button type="submit" (click)="Onsubmit()">Preview & Post</button>
                </div>
            </div>

        </div>


    </div>


















    <div class="ad"></div>


</div>
<seller-footer></seller-footer>