.empty{
    height: 65px;
    background-color: var(--brown);
}
.active {
    background-color: var(--brown);
    color: white;
}
ul{
    margin-top: 5px;
}
ul li{
    cursor: pointer;
}
.custom-svg{
    fill:white;
}
.none-svg{
    fill: none;
}