.pending,.ignored,.accepted{
    color: var(--bgBlue);
}
.status{
    display: flex;
    align-items: center;
font-weight: bold;
}
.status svg{
    margin-right: 5px;
}
.rejected{
    color: #FF0000;
}
.scheduled{
    color: #34A853 ;
}
table tr td{
   padding: 15px 10px;
}
.visited{
    color: #FD841F    ;
}
.fixed{
    color: #1877F2;
}