.buttons span{
    display: flex;
    max-width: fit-content;
    align-items: center;
}
.buttons span button:nth-child(2){
 margin-left: 10px;
}
table tr td{
 max-width: fit-content !important;
}
.tb-heading td{
    color: black;
}
.tb-heading path{
    stroke: var(--bgBlue);
}
.remove-btn{
    color: #B73E3E ;
}
.property-type{
    min-width: 20%;
}
.propery-btn{
    width: 100%;
    border-radius:0;
    text-align: left;
    background-color: white;
    color: black;
}
.main-content-header{
    padding: 0 15px;
    justify-content: space-between !important;
}
.dropdown-toggle::after {
border-top: 0 !important;
width: 100%;

    /* content:url(../../assets/images/Vector.png); */
    position: absolute;
    right: 0;
  
}
.sort-by{
    min-width: 10%;
}
.sort-btn{
    text-align: left;
    width: 100%;
    border-radius: 0;
    background-color: white;
    color: black;
}
.search-box{
    min-width: 60%;
    display: flex;
}
.search-box input{
    min-width: 80%;

    padding:  0.375rem 0.75rem;
}
.search-box button{
    min-width: 20%;
    background-color:var(--bgBlue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}
.search-box button svg{
    margin-right: 5px;
}