<div class="container">



     
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    <div class="main">
 
<div class="top-ad">

<img src="../../assets/images/top-container-ad.png" width="100%">
</div>

<h1>Set Password</h1>

<div class="otp-field">
    <label>Password :</label>
    <div>
    <input type="text" placeholder="Enter Password">

</div>
</div>
<div class="otp-field" style="margin-top: 20px;">
    <label>Confirm Password :</label>
    <div>
    <input type="text" placeholder="Re-enter Password">

</div>
</div>

<div class="verify-btn">
    <button>Set Password</button>
</div>




    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    
    
    </div>