.container{
    display: flex;
}
.sidebar{
    width: 15%;
    background-color:var(--sandal);
    margin: 10px;

}
.main{
    width: 70%;
    background-color:var(--sandal);

    margin: 10px 0px;

}
.main h2{
    width: 70%;
    margin: auto;
    margin-top: 30px;
  
    color: #473B32;
    font-family: var(--raleway);
    font-weight: 700;
}
.ad{
    width: 15%;
   background-image: url(../../assets/images/ad-post.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 717px;
    margin: 10px;
}
.sidebar-content-list{
    background: none;
    color: black;
    padding: 10px;
}
.sidebar-content-list span{
    display: flex;
    align-items: center;
}
.sidebar-content-list svg{
    margin-right: 10px;
}

.active {
    background-color: var(--brown);
    color: white;
}
.top-ad{
    height: fit-content;
}

nav{
    width: 100%;

}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 10px 5px;
    background-color: var(--brown);
    color: white;
}
nav ul li{
    margin-right: 5px;
}
.residential-sale{
    width: 100%;
    margin: auto;
    padding-top: 0 !important;
    margin-top:  0 !important;
}
.property-details{
    width: 95%;
    margin: auto;
    max-height: fit-content !important;
    padding: 20px 0;
    border-bottom: solid gray 1px;
    color: var(--brown);
    margin-top: 0 !important;
}
.property-details>.container{
    min-width: 80% !important;
    margin: auto;
    display: block;
    margin-top: 0 !important;
}
.property-details .heading{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: var(--brown);
    width: 100%;
}
.property-details .heading p{
    font-weight: 500;
    font-size: 20px;
}
.submitted-details{
    margin-top: 20px;
}
.submitted-details div{
    display: flex;
    margin: 20px 0;
}
.submitted-details div label{
    width: 50%;
}
.submitted-details div p{
    width: 50%;
}
.submitted-details div p{
    font-weight: 500;
}
.address div{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}
.address div p{
    width: 100%;
}
.address div span{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.property-details ul{
    width: 50%;
    padding-left: 0 !important;
    list-style: none;
}
.property-details ul li{
    margin: 10px 0;
    font-weight: 500;
}
.amenities div{
    width: 50%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.amenities div span{
    display: flex;
    font-weight: 500;
    width:50%;

}
.image-gallery{
    width: 100%;
    flex-wrap: wrap;
  margin: 0 !important;
    row-gap: 10px;
    column-gap: 20px;

}
.image-gallery .images{
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;

    position: relative;


}
.video{
    min-width: 200px;
}
.image-gallery img{
    width: 100%;
    box-shadow: 0 0 2px black;
}
.remove-border{
    border-bottom: none !important;
}
.post-btn{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}
.post-btn button{
    width: fit-content;
    border: none;
    background-color: var(--brown);
    color: white;
    padding: 15px 60px ;
}
