<header-with-profile></header-with-profile>
<div class="container">



    <div class="sidebar">
      <seller-admin-sidebar></seller-admin-sidebar>
    </div>
   <div class="main">
    <div class="heading">
      <h2 *ngIf="!id">Add Sub Host</h2>
      <h2 *ngIf="id">Edit Sub Host</h2>
    </div>
  
  <div class="profile" [formGroup]="myform">
  
 
  <div>
    <label>Name :</label> 
    <input type="text" placeholder="Enter Name" formControlName="Name">
  </div>
  <p class="error-msg" *ngIf="isSubmit&&myform.get('Name')?.invalid">Name is required </p>
  <div>
    <label>Email ID :</label> 
    <input type="email" placeholder="Enter Email ID" formControlName="email">
  </div>
  <p class="error-msg" *ngIf="isSubmit&&myform.get('email')?.errors?.required">Email is required</p>
  <p class="error-msg" *ngIf="isSubmit&&myform.get('email').errors?.pattern">Enter a Valid Email</p>
  <div>
    <label>Mobile Number :</label> 
    <input type="number" placeholder="Enter Mobile Number" formControlName="phoneNumber">
  </div>
  <p class="error-msg" *ngIf="isSubmit&&myform.get('phoneNumber')?.errors?.required">Mobile Number is required</p>
  <p class="error-msg" *ngIf="isSubmit&&myform.get('phoneNumber').errors?.pattern">Enter a Valid Mobile Number</p>
<div>
    <label>Role :</label>
    <select formControlName="role">

      <option selected disabled>Select Role</option>
      <option value="Chat">Chat</option>
      <option value="Stream">Stream</option>
      <option value="Chat/Stream">Chat/Stream</option>
    </select>
  </div>
  <div class="error-msg" *ngIf="isSubmit&&myform.get('role')?.invalid">Role is required</div>

  
  
 
  
  <div class="submit">
    <button *ngIf="!id" (click)="submit()">Submit</button>
    <button *ngIf="id" (click)="reSubmit()">Update</button>
  </div>
  
  
  </div>
  
  
   </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="ad"></div>
  
  
    </div>
    <seller-footer></seller-footer>

    