.container{
    display: flex;
}
.sidebar{
    width: 15%;
    background-color:var(--sandal);
    margin: 10px;

}
.main{
    width: 70%;
    background-color:var(--sandal);

    margin: 10px 0px;

}
.main h2{
    width: 70%;
    margin: auto;
    margin-top: 30px;
  
    color: #473B32;
    font-family: var(--raleway);
    font-weight: 700;
}
.ad{
    width: 15%;
   background-image: url(../../assets/images/ad-post.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 717px;
    margin: 10px;
}
.sidebar-content-list{
    background: none;
    color: black;
    padding: 10px;
}
.sidebar-content-list span{
    display: flex;
    align-items: center;
}
.sidebar-content-list svg{
    margin-right: 10px;
}

.active {
    background-color: var(--brown);
    color: white;
}
.top-ad{
    height: fit-content;
}
.main h1{
    text-align: center;
    color: var(--brown);
    font-family: var(--ralewaybold);
    margin: 20px 0;
}
.form{
    width: 70%;
    margin:50px auto;
   
    
}
.form div{
width: 100%;
display: flex;
margin: 20px 0;
align-items: center;
justify-content: space-between;
}
.expected-rent{
    align-items: flex-start !important;
}
option{
    font-size: 12px;
}
label{
    width: 30% !important;
    margin-top: 10px;
}
.negotiable label{
    margin-top: 0 !important;
  
}
.expected-rent div{
    width: 50% !important;
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    align-items: flex-start !important;
}
.negotiable{
    display: flex;
    padding-top: 5px !important;
    font-size: 14px;
    padding-left: 5px;
    align-items: center !important;
    justify-content: unset !important;
    flex-direction: row !important;
    width: 63% !important;
    margin-left: 50% !important;
}
.negotiable input{
    width: fit-content !important;
    margin-right: 10px;
}
.form div  select,input{
    padding: 10px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.212) 1px;
    position:relative ;
}
.maintenance-select{
    width: 50% !important;
}

.login-btn button{
    border: none;
    padding: 15px 70px;
    background-color: var(--brown);
    color: white;
    margin-left: 30%;
    cursor: pointer;
}
  nav{
    display: flex;
    justify-content: space-between;
    color: var(--sandal);
    background-color: var(--brown);
  }
  nav p{
  width: 100%;
  padding: 10px;
  text-align: center;
  border-right: solid var(--sandal) 1px;
  }
.nav-active{
    background-color: var(--sandal);
    color: var(--brown);
}
.save-continue{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}
.save-continue button{
    width: fit-content;
    padding: 15px 50px;
    background-color: var(--brown);
    color: white;
    border: none;
}
.address{
    display: flex;
    align-items: flex-start !important;
}
.address label{
    margin-top: 10px;
}
.address div{
    width: 70%;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    margin: 0 !important;
}
.address div span{
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
}
.address div span svg{
    margin-right: 5px;
}
.address input{
    width: 100% !important;
}
.rent-lease{
    display: flex;
    width: fit-content;
    margin:auto;
    margin-top: 50px !important;
}
.rent-lease p{
    padding: 10px 80px;

    cursor: pointer;
}
.rent-lease-active{
    background-color:white;
    color: black;
}
.rent-lease-active:hover{
    background-color:var(--lightbrown) !important;
    color: white;
}
.selected{
    background-color:var(--lightbrown) !important;
    color: white;
}
.rent-lease-active:active{
    background-color:brown !important;
    color: white;
}
