<empty-header-all></empty-header-all>
<div class="container">




  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
  <div class="main">

    <div class="top-ad">

      <img src="../../assets/images/top-container-ad.png" width="100%">
    </div>

    <h1>Check Your Mobile For OTP</h1>
    <form [formGroup]="ForgotPassword">
      <div class="otp-field">
        <label>OTP :</label>
        <div>
          <input type="number" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Enter OTP" formControlName="otp" (keyup)="errmsg()">
          <p style="cursor: pointer;"  (click)="ResendOtp()">Resend OTP !</p>
        </div>
      </div>
      <div style="color: red;text-align: center;" >
        <p *ngIf="notfound">Invalid OTP</p>
      </div>
      <div class="verify-btn">
        <button (click)="submitOTP()">Verify</button>
      </div>
    </form>

  </div>
  <div class="ad">
    <img src="../../assets/images/ad-post.png" width="100%">
  </div>
</div>
