<div class="container">



     
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    <div class="main">
 
<div class="top-ad">

<img src="../../assets/images/top-container-ad.png" width="100%">
</div>

<h1 style="font-weight: 700;">Register to the world of real-estate</h1>


<div class="form">
    <div>
        <label>Name :</label>
        <input type="email" placeholder="Enter Your name">
    </div>
    <div>
        <label>Mobile Number :</label>
        <input type="email" placeholder="Enter Your Mobile Number">
       
    </div>
    <div>
        <label>Email :</label>
        <input type="email" placeholder="Enter Your Email ID">
       
    </div>
  <div class="buyer-tenant">
    <div>
        <input type="radio">Buyer
      
        <!-- For post a propery register
        <input type="radio"> Seller -->


    </div>
    <div>
        <input type="radio">Tenant
  <!-- For post a propery register
        <input type="radio"> Owner -->
    </div>
  </div>

    <div class="login-btn">
<button>Log In</button>
    </div>
</div>
    

    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
    <div class="ad">
        <img src="../../assets/images/ad-post.png" width="100%">
    </div>
    
    
    </div>