<buyer-header-profile  ></buyer-header-profile>
<div class="container">



  <div class="sidebar">
    <img src="../../../assets/images/ad-post.png" alt="" srcset="">
  </div>
 <div class="main">
  <div class="heading">
    <h2>Edit Account</h2>
  </div>

<div class="profile" [formGroup]="form" >

<div>
  <label>Name :</label> <input type="text" [value]="data.userName"   formControlName="userName">
</div>

<div>
  <label>Mobile Number :</label> <input type="text" [value]="data.mobile"  formControlName="mobile">
</div>
<p class="redtext" *ngIf="form.get('mobile').errors?.pattern && submitted" >Enter a Valid Number </p>
<div>
  <label>Email ID :</label> <input type="email" readonly [value]="data.email"  formControlName="email">
</div>
<p class="redtext" *ngIf="form.get('email').errors?.pattern && submitted"  >Enter a Email Number </p>


<div class="submit">
  <button (click)="submit()">Submit</button>
</div>


</div>


 </div>

















  <div class="ad"></div>


  </div>
  <seller-footer></seller-footer>